#flame {
color: #d75412;
color: rgb(215, 84, 18);
}
#vanilla {
    color: #f7e8a4;
    color: rgb(247, 232, 164);
}
#oldlace {
    color: #fff4e4;
    color: rgb(255, 244, 228);
}
#electricblue {
    color: #6efafB;
    color: rgb(110, 250, 251);
}
#bluemunsell {
    color: #0091AD;
    color: rgb(0, 145, 173);
}
#rosepink {
    color: #ff57bb;
    color: rgb(255, 87, 187)
}